.game {
    display: flex;
}

.board,
.game-info {
    margin: 20px;
}

h2 {
    margin-top: 0px;
}

button {
    margin: 2px;
}


@media screen and (max-width: 768px) {
    .game {
        flex-direction: column;
    }
}
